# Игнорировать все файлы .log
*.log

# Игнорировать папку с временными файлами
temp/

# Игнорировать все файлы с расширением .env (часто содержат секретные данные)
*.env

# Игнорировать папку node_modules (используется в проектах Node.js)
node_modules/

# Игнорировать файл с настройками IDE
.vscode/

# Игнорировать виртуальное окружение Python
venv/

# Игнорировать скомпилированные Python-файлы
*.pyc

# Игнорировать папку __pycache__
__pycache__/
